@import "./constants/colors.less";
@import "./constants/spacing.less";
@import "./constants/borders.less";

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  background-image: linear-gradient(
      to bottom,
      #f5f6fc00 0%,
      #75135d00 60%,
      #e09fb3 100%
    ),
    url("../images/background-top.webp");
  background-size: cover;
  background-position: center top;
  color: @inkblack;

  h1 {
    font-size: 200px;
    margin: 2%;
    font-family: @mainFamily;
    //color: @purpleDark;
    //-webkit-text-stroke: 10px @purpleLight;
  }
  p {
    font-size: 50px;
    margin: 0;
    font-family: @mainFamily;
  }

  @media screen and (min-width: 1271px) and (max-width: 1470px) {
    h1 {
      font-size: 180px;
    }

    p {
      font-size: 47px;
    }
  }

  @media screen and (min-width: 1075px) and (max-width: 1270px) {
    h1 {
      font-size: 150px;
    }

    p {
      font-size: 42px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1074px) {
    h1 {
      font-size: 125px;
    }

    p {
      font-size: 34px;
    }
  }
}

.home-background {
  background-image: linear-gradient(
    to bottom,
    #e09fb3 0%,
    #d78da4 15%,
    #c07d92 50%,
    #d78da4 85%,
    #e09fb3 100%
  );

  .home-header2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: @white;
    text-align: center;

    h2 {
      font-size: 60px;
      font-family: @mainFamily;
      padding: 0;
      margin: 0;
    }

    h3 {
      font-size: 20px;
      font-family: @mainFamily;
    }

    .home-info-text {
      width: 50%;
    }
    .home-images {
      display: flex;
      justify-content: space-around;
      width: 85%;
    }

    p {
      font-size: 15px;
      font-family: @mainFamily;
      font-weight: 800;
    }

    img {
      height: 300px;
      width: 300px;
    }

    .example-image {
      height: auto;
      width: 400px;
    }

    @media screen and (min-width: 1271px) and (max-width: 1470px) {
      h2 {
        font-size: 50px;
      }

      h3 {
        font-size: 17px;
      }

      p {
        font-size: 14px;
      }

      img {
        max-width: 250px;
        max-height: 250px;
        min-height: 250px;
      }

      .example-image {
        height: auto;
        width: 300px;
      }
    }

    @media screen and (min-width: 1075px) and (max-width: 1270px) {
      h2 {
        font-size: 45px;
      }

      h3 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
      img {
        max-width: 220px;
        height: auto;
      }
      .example-image {
        height: auto;
        width: 250px;
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1074px) {
      h2 {
        font-size: 45px;
      }

      h3 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
      img {
        max-width: 180px;
        max-height: 180px;
      }

      .example-image {
        height: auto;
        width: 200px;
      }
    }
  }

  .home-header3 {
    padding-top: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    color: @white;

    h2 {
      font-size: 60px;
      font-family: @mainFamily;
      padding: 0;
      margin: 0;
    }

    .home-images {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .home-info-text {
      width: 50%;
    }

    @media screen and (min-width: 1271px) and (max-width: 1470px) {
      h2 {
        font-size: 50px;
      }

      h3 {
        font-size: 17px;
      }

      p {
        font-size: 14px;
      }
    }

    @media screen and (min-width: 1075px) and (max-width: 1270px) {
      h2 {
        font-size: 45px;
      }

      h3 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
    }
    @media screen and (min-width: 769px) and (max-width: 1074px) {
      h2 {
        font-size: 45px;
      }

      h3 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .home-header4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;

    @media screen and (min-width: 1271px) and (max-width: 1470px) {
      h2 {
        font-size: 50px;
      }

      h3 {
        font-size: 17px;
      }

      p {
        font-size: 14px;
      }
    }

    @media screen and (min-width: 1075px) and (max-width: 1270px) {
      h2 {
        font-size: 45px;
      }

      h3 {
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
    }
  }
  .second-home {
    padding-top: 3%;
  }
  .third-home {
    padding-top: 4%;
  }
}

.home-header5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #e09fb3;
  background-image: linear-gradient(
      to bottom,
      #e09fb3 0%,
      #f5f6fc00 60%,
      #75135d00 100%
    ),
    url("../images/background-bottom2.webp");
  background-size: cover;
  background-position: center bottom;
}
