.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #f5f6fc00 0%, #75135d00 60%, #e09fb3 100%), url("../images/background-top.png");
  background-size: cover;
  background-position: center top;
  color: #1d2731;
}
.home-header h1 {
  font-size: 200px;
  margin: 2%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-header p {
  font-size: 50px;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-background {
  background-image: linear-gradient(to bottom, #e09fb3 0%, #d78da4 15%, #c07d92 50%, #d78da4 85%, #e09fb3 100%);
}
.home-background .home-header2 {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: #f9f8f5;
  text-align: center;
}
.home-background .home-header2 h2 {
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
.home-background .home-header2 h3 {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-background .home-header2 .home-info-text {
  width: 50%;
}
.home-background .home-header2 .home-images {
  display: flex;
  justify-content: space-around;
  width: 85%;
}
.home-background .home-header2 p {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
}
.home-background .home-header3 {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: #f9f8f5;
}
.home-background .home-header3 h2 {
  font-size: 65px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-background .home-header3 .home-images {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.home-background .home-header4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.home-header5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-color: #e09fb3;
  background-image: linear-gradient(to bottom, #e09fb3 0%, #f5f6fc00 60%, #75135d00 100%), url("../images/background-bottom2.png");
  background-size: cover;
  background-position: center bottom;
}
.navbar-container {
  display: flex;
  padding: 0.5%;
  background-color: #1d2731;
  color: #f9f8f5;
}
.navbar-container .nav-link {
  color: #f9f8f5;
  padding: 9px;
  font-weight: 900;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.navbar-container .nav-link:hover {
  color: #1d2731;
  background-color: #e7ef74;
  padding: 9px;
  font-weight: 900;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.navbar-container .active-link {
  color: #e7ef74;
  padding: 9px;
  font-weight: 900;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  text-decoration-thickness: 3px;
  text-underline-offset: 9.5px;
}
.navbar-container .active-link:hover {
  color: #e7ef74;
  padding: 6px;
  font-weight: 900;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid #e7ef74;
  text-decoration-thickness: 3px;
  text-underline-offset: 9.5px;
}
.navbar-container .logo {
  padding: 4px;
  color: #ac99a8;
  -webkit-text-stroke: 1px #cec4d6;
  font-weight: 900;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  letter-spacing: 4px;
  width: 9%;
  margin-left: 3%;
}
.main-container {
  display: flex;
}
.main-container .sidebar {
  flex-basis: 20%;
  background-image: url(../images/sidebar-background.png);
  background-size: cover;
}
.main-container .sidebar .sidebar-categories {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-container .sidebar .sidebar-categories .sidebar-category {
  display: flex;
  align-items: center;
  height: 3vh;
  justify-content: center;
  vertical-align: middle;
  background-color: #958090;
  border-radius: 5px;
  border: 1px solid #1d2731;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.main-container .sidebar .sidebar-categories .sidebar-category-active {
  display: flex;
  align-items: center;
  height: 3vh;
  justify-content: center;
  vertical-align: middle;
  background-color: #958090;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #1d2731;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.main-container .sidebar .sidebar-categories .sidebar-items {
  /*

        .sidebar-item:not(:last-child) {
          padding-left: @spacingS;
          padding-right: @spacingS;
          align-items: center;
          background-color: @purple4;
          border: @standardBlack;
          margin-left: @spacingS;
          margin-right: @spacingS;
          margin-bottom: @spacingS;
        }
        .sidebar-item:last-child(1) {
          display: flex;
          justify-content: space-between;
          overflow-wrap: break-word;
          word-break: break-all;
          padding-left: @spacingS;
          padding-right: @spacingS;
          align-items: center;
          background-color: @purple4;
          border-bottom-right-radius: @standardRadius;
          border-bottom-left-radius: @standardRadius;
          border: @standardBlack;
          margin-left: @spacingS;
          margin-right: @spacingS;
          margin-bottom: @spacingS;
        }
        */
}
.main-container .sidebar .sidebar-categories .sidebar-items .sidebar-item:not(:last-child) {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-left: 4px;
  padding-right: 4px;
  align-items: center;
  background-color: #958090;
  border: 1px solid #1d2731;
  margin-left: 4px;
  margin-right: 4px;
}
.main-container .sidebar .sidebar-categories .sidebar-items .sidebar-item:last-child {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  word-break: break-all;
  padding-left: 4px;
  padding-right: 4px;
  align-items: center;
  background-color: #958090;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #1d2731;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.main-container .main-editor {
  flex-basis: 80%;
  margin: 0;
}
.main-container .main-editor .doc-container-overview {
  display: flex;
}
.main-container .main-editor .doc-container-overview .doc-creator-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}
.main-container .main-editor .doc-container-overview .doc-creator-container .doc-actions {
  display: flex;
  background-image: radial-gradient(#d5e3ea, #c2dfeb, #8ba8b4);
  min-height: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-left: 1px solid #1d2731;
  border-bottom: 1px solid #1d2731;
  justify-content: space-between;
}
.main-container .main-editor .doc-container-overview .doc-creator-container .document-container {
  background-color: #8e959d;
  border-left: 1px solid #1d2731;
}
.main-container .main-editor .doc-container-overview .doc-creator-container .document-container .document {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  min-height: 500px;
  background-color: #f9f8f5;
  border: 2px solid #1d2731;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
  border-radius: 5px;
}
.main-container .main-editor .doc-container-overview .component-manager {
  flex-basis: 20%;
  border-left: 1px solid #1d2731;
}
.main-container .main-editor .doc-container-overview .component-manager .doc-component {
  display: flex;
}
.main-container .main-editor .doc-container-overview .component-manager .doc-component:hover {
  background-color: blanchedalmond;
}
.main-container .main-editor .editor-container-overview {
  display: flex;
}
.main-container .main-editor .editor-container-overview .editor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 80%;
}
.main-container .main-editor .editor-container-overview .editor-container .component-actions {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/detail-background.png);
  background-size: cover;
  padding: 2%;
  border-bottom: 1px solid #1d2731;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #8e959d;
  border-left: 1px solid #1d2731;
  border-radius: 5px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .controls {
  display: flex;
  font-family: sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #1d2731;
  background-color: #f9f8f5;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .controls .control-set {
  padding-left: 2px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box {
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 0.5rem;
  border: 1px solid #1d2731;
  height: 400px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #f9f8f5;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-root {
  background: #fff;
  border: 1px solid #1d2731;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-editor {
  border-top: 1px solid #1d2731;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-editor .public-DraftEditorPlaceholder-root,
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}
.main-container .main-editor .editor-container-overview .editor-container .draft-editor .text-box .RichEditor-activeButton {
  color: #5890ff;
}
.main-container .main-editor .editor-container-overview .component-manager {
  flex-basis: 20%;
  border-left: 1px solid #1d2731;
  padding-left: 4px;
}
.main-container .main-editor .editor-container-overview .component-manager .meta-created,
.main-container .main-editor .editor-container-overview .component-manager .meta-updated {
  padding: 4px;
  border: 1px solid #1d2731;
  margin: 4px;
}
.main-container .main-display {
  flex-basis: 60%;
  margin: 0;
}
.register-container {
  display: flex;
  justify-content: center;
  height: 93vh;
  background-color: #c2dfeb;
}
.register-container .login-text {
  flex-basis: 60%;
  background-image: url("../images/login.png");
  background-size: cover;
}
.register-container .register-text {
  flex-basis: 60%;
  background-image: url("../images/registration.png");
  background-size: cover;
}
.register-container .form {
  flex-basis: 40%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 5px #c07d92;
}
.register-container .form .form-contents {
  background-color: #f9f8f5;
  padding: 10%;
  width: 40%;
  height: 35vh;
  border-radius: 5px;
  border: solid 5px #e09fb3;
}
.register-container .form .form-contents table {
  width: 60%;
}
.register-container .form-register {
  background-image: linear-gradient(to bottom, #d9ecf5 0%, #b4d5e3 20%, #9cc1d1 50%, #b4d5e3 80%, #d9ecf5 100%);
}
.register-container .form-login {
  background-image: linear-gradient(to bottom, #ece0ea 0%, #e5c9d7 20%, #f2bdcd 50%, #e5c9d7 80%, #ece0ea 100%);
}
.pricing-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-color: #c2dfeb;
  background-image: linear-gradient(to bottom, #a7d5e7 0%, #6ba9c2 50%, #a7d5e7 85%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1d2731;
}
.pricing-main .pricing-text {
  width: 25%;
  text-align: center;
}
.pricing-main .pricing-text .pricing-title {
  color: #f2c9d5;
  -webkit-text-stroke: 2px #d78da4;
  font-size: 50px;
  font-weight: 900;
}
.pricing-main .pricing-text .pricing-subtitle {
  font-size: 20px;
}
.pricing-main .pricing-container {
  padding-left: 5%;
  width: 65%;
  display: flex;
  justify-content: space-around;
  /*
    display: flex;
    width: 80%;
    height: 60vh;
    background-color: @white;
    justify-content: space-around;
    align-items: center;
    border-radius: @standardRadius;
    margin-top: 5%;
    border: 5px solid #c07d92;

    .pricing-text {
      width: 30%;
      padding: 2%;
    }

    .pricing-tables {
      width: 65%;

      table {
        width: 100%;

        th,
        td {
          padding: 15px;
        }
      }
    }
      */
}
.pricing-main .pricing-container .box {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #f9f8f5;
  padding: 1%;
  border: solid 5px #c07d92;
  border-radius: 5px;
}
.pricing-main .pricing-container .box .box-header {
  border-bottom: 1px solid #8e959d;
}
.pricing-main .pricing-container .box .pricing-price {
  padding: 10px;
  text-align: center;
  font-size: 40px;
  border-bottom: 1px solid #8e959d;
}
.pricing-main .pricing-container .box .pricing-price .amount {
  font-size: 40px;
}
.pricing-main .pricing-container .box .pricing-price .frequency {
  font-size: 20px;
  color: #8e959d;
}
.pricing-main .pricing-container .box h4 {
  text-align: center;
  font-size: 20px;
}
.pricing-main .pricing-container .box .box-byline {
  color: #a57485;
  text-align: center;
}
.pricing-main .pricing-container .box .box-detail {
  display: flex;
  padding-top: 10%;
}
.pricing-main .pricing-container .box .box-detail .box-detail-text {
  margin: 0;
  padding-left: 5px;
}
.pricing-main .pricing-container .box .box-button {
  margin-top: auto;
  padding-top: 10%;
  text-align: center;
}
.modal-screen {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  justify-content: center;
  align-items: center;
}
.modal-screen .modal {
  background-color: #f9f8f5;
  height: 30%;
  width: 25%;
  border: 2px solid #1d2731;
  border-radius: 5px;
}
.modal-screen .modal .modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2px;
}
.modal-screen .modal .modal-content .modal-header {
  font-size: large;
  font-weight: 900;
  height: 15%;
}
.modal-screen .modal .modal-content .success {
  background-color: #61af6f;
  color: #f9f8f5;
}
.modal-screen .modal .modal-content .loading {
  background-color: #c2dfeb;
  color: #f9f8f5;
}
.modal-screen .modal .modal-content .error {
  background-color: #ff6961;
  color: #f9f8f5;
}
.modal-screen .modal .modal-content .modal-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 100%;
}
.modal-screen .modal .modal-content .modal-message .icon {
  height: 80px;
  width: 80px;
}
.modal-screen .modal .modal-content .modal-message .success-icon {
  color: #61af6f;
}
.modal-screen .modal .modal-content .modal-message .loading-icon {
  color: #c2dfeb;
}
.modal-screen .modal .modal-content .modal-message .error-icon {
  color: #ff6961;
}
button,
input {
  border-radius: 5px;
  padding: 14px;
  border: 1px solid #1d2731;
  max-width: 150px;
}
button:hover {
  filter: brightness(150%);
}
.meta-info {
  display: flex;
  flex-direction: column;
}
.meta-info input {
  padding: 2px;
  font-size: 12px;
}
.meta-info .meta-created,
.meta-info .meta-updated {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #757581;
}
.search-box {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.search-box .search-box-contents {
  width: 50%;
}
.search-box .search-box-contents .search-input {
  width: 80%;
  max-width: unset;
}
.search-result-container {
  display: flex;
  flex-direction: column;
  margin-top: -1.5%;
  width: 25.3%;
  z-index: 1;
  position: absolute;
  background-color: white;
  border: solid 1px #000000;
  margin-left: 14.9%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-result-container .component-search-card {
  border: solid 2px black;
  margin: 5px;
}
.text-box-container {
  display: flex;
  background-color: #8e959d;
  width: 70%;
  height: 60vh;
}
.text-box-container .texts-text-box {
  width: 90%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f9f8f5;
  border-radius: 5px;
}
.text-box-container .texts-text-box .text-box-header {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: black;
}
.recently-updated {
  border-left: 1px solid #1d2731;
}
.recently-updated .text-components {
  padding: 4px;
}
.recently-updated .text-components .recent-card {
  display: flex;
  flex-direction: column;
}
.recently-updated .text-components .recent-card .recent-card-details {
  display: flex;
  justify-content: space-between;
}
