@import "./constants/colors.less";
@import "./constants/spacing.less";
@import "./constants/font.less";

.doc-container-overview {
  display: flex;

  .doc-creator-container {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;

    .doc-actions {
      display: flex;
      background-image: radial-gradient(@blueLight, @blue, @blueDark);
      min-height: 30px;
      padding-top: @spacingXS;
      padding-bottom: @spacingXS;
      padding-left: @spacingS;
      padding-right: @spacingS;
      border-left: @standardBlack;
      border-bottom: @standardBlack;
      justify-content: space-between;
    }

    .document-container {
      background-color: @grey;
      border-left: @standardBlack;

      .document {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        min-height: 500px;
        background-color: @white;
        border: @heavyBlack;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 2%;
        border-radius: @standardRadius;
      }
    }
  }

  .component-manager {
    flex-basis: 20%;
    border-left: @standardBlack;

    .doc-component {
      display: flex;
    }

    .doc-component:hover {
      background-color: blanchedalmond;
    }
  }
}
