.search-box {
  display: flex;
  width: 80%;
  height: 8vh;
  justify-content: center;
  align-items: center;
  background-color: #a2a7b7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border: @standardBlack;
  border-radius: @standardRadius;
  box-shadow: @shadow;

  .search-box-contents {
    width: 80%;
    .search-input {
      width: 72%;
      max-width: unset;
    }
  }
}

.search-result-container {
  display: flex;
  flex-direction: column;
  margin-top: -1.5%;
  width: 25.3%;
  z-index: 1;
  position: absolute;
  background-color: white;
  border: solid 1px #000000;
  margin-left: 14.9%;
  border-bottom-left-radius: @standardRadius;
  border-bottom-right-radius: @standardRadius;
  padding: @spacingS;

  .component-search-card {
    background-color: red;
    min-height: 6vh;
  }
}
.text-box-container {
  display: flex;
  background-color: @grey;
  width: 100%;
  min-height: 70vh;
  border-radius: @standardRadius;
  border: @standardBlack;
  box-shadow: @shadow;

  .texts-text-box {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: @white;
    border-radius: @standardRadius;
    border: @standardBlack;
    box-shadow: @shadow;

    .text-box-header {
      display: flex;
      justify-content: space-around;
      color: white;
      background-color: @inkblack;
      border-top-left-radius: @standardRadius;
      border-top-right-radius: @standardRadius;
      height: 10%;
      align-items: center;
      justify-content: space-between;
      padding-left: 4%;
      padding-right: 4%;
    }
    .text-box-content {
      padding: 20px;
    }
  }
}

.updated-created {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10vh;
  flex-basis: 20%;

  .recently-updated {
    background-color: white;
    border-radius: @standardRadius;
    border: @standardBlack;
    box-shadow: @shadow;
    width: 100%;

    .texts-tabs {
      margin-bottom: @spacingS;
      background-color: @blueDark;
      padding: 2%;
      border-top-left-radius: @standardRadius;
      border-top-right-radius: @standardRadius;
    }

    .text-components {
      padding: @spacingS;
      min-height: 13vh;
      width: 100%;

      table {
        width: 98%;
        border-spacing: unset;
        table-layout: fixed;
        text-overflow: ellipsis;

        tr {
          padding: 10%;

          td {
            min-width: 27% !important;
            max-width: 27% !important;
            padding: 2%;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        tr:hover {
          background-color: @blueLight;
          border-radius: @standardRadius;
        }
      }
    }
  }
}
