.search-result-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  z-index: 1;
  position: absolute;
  background-color: white;
  border: solid 2px black;

  .component-search-card {
    border: solid 2px black;
    margin: 5px;
  }
}
.text-box-container {
  display: flex;
  background-color: @grey;
  width: 70%;
  height: 60vh;

  .texts-text-box {
    width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: @white;
  }
}
