@import "../../constants/colors.less";
@import "../../constants/borders.less";

.editor-container-overview {
  display: flex;

  .editor-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 75%;

    .component-actions {
      display: flex;
      justify-content: space-between;
      background-color: #a2a7b7;
      border: @standardBlack;
      border-radius: @standardRadius;
      //background-image: url(../images/detail-background.webp);
      //background-image: radial-gradient(@blueLight, @blue, @blueDark);
      margin: 1%;
      padding: 1%;
      align-items: center;
      box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);

      //border-left: @standardBlack;
      .component-actions1 {
        display: flex;
        flex-basis: 70%;
        justify-content: space-around;

        .component-action {
          display: flex;
        }
      }
      .component-actions2 {
        display: flex;
        flex-basis: 30%;
        justify-content: space-around;
      }
    }

    .draft-editor {
      padding-left: 2%;
      padding-right: 2%;
      background-color: @grey;
      border: @standardBlack;
      border-radius: @standardRadius;
      min-height: 75vh;
      box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);

      .controls {
        display: flex;
        font-family: sans-serif;
        padding-left: 2%;
        padding-right: 2%;
        border: @standardBlack;
        background-color: @white;
        height: 50px;
        align-items: center;
        justify-content: space-around;
        margin-top: 2%;
        border-top-left-radius: @standardRadius;
        border-top-right-radius: @standardRadius;

        .control-set {
          padding-left: @spacingXS;
        }
      }

      .text-box {
        font-family: Arial, Helvetica, sans-serif !important;
        padding: 0.5rem;
        border: @standardBlack;
        padding-left: 2%;
        padding-right: 2%;
        background-color: @white;
        min-height: 62.5vh;
        padding-bottom: 2%;
        box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);
        border-bottom-left-radius: @standardRadius;
        border-bottom-right-radius: @standardRadius;

        .RichEditor-root {
          background: #fff;
          border: @standardBlack;
          font-family: "Georgia", serif;
          font-size: 14px;
          padding: 15px;
        }

        .RichEditor-editor {
          border-top: @standardBlack;
          cursor: text;
          font-size: 16px;
          margin-top: 10px;
        }

        .RichEditor-editor .public-DraftEditorPlaceholder-root,
        .RichEditor-editor .public-DraftEditor-content {
          margin: 0 -15px -15px;
          padding: 15px;
        }

        .RichEditor-editor .public-DraftEditor-content {
          min-height: 100px;
        }

        .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
          display: none;
        }

        .RichEditor-editor .RichEditor-blockquote {
          border-left: 5px solid #eee;
          color: #666;
          font-family: "Hoefler Text", "Georgia", serif;
          font-style: italic;
          margin: 16px 0;
          padding: 10px 20px;
        }

        .RichEditor-editor .public-DraftStyleDefault-pre {
          background-color: rgba(0, 0, 0, 0.05);
          font-family: "Inconsolata", "Menlo", "Consolas", monospace;
          font-size: 16px;
          padding: 20px;
        }

        .RichEditor-controls {
          font-family: "Helvetica", sans-serif;
          font-size: 14px;
          margin-bottom: 5px;
          user-select: none;
        }

        .RichEditor-styleButton {
          color: #999;
          cursor: pointer;
          margin-right: 16px;
          padding: 2px 0;
          display: inline-block;
        }

        .RichEditor-activeButton {
          color: #5890ff;
        }
      }
    }
  }
  .component-manager {
    flex-basis: 25%;

    .meta-info {
      display: flex;
      flex-direction: column;
      background-color: white;
      margin-right: @spacingS;
      margin-left: @spacingS;
      border-radius: @standardRadius;
      border: @standardBlack;
      margin-top: 10vh;
      padding: 3%;
      margin-left: 5%;
      margin-right: 5%;
      box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);
      background-color: @blueLight;

      .meta-created,
      .meta-updated {
        padding: @spacingS;
        border: @standardBlack;
        margin: @spacingS;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: @secondaryColor;
        border-radius: @standardRadius;
        background-color: white;
      }
    }
  }
}
