.main-container {
  display: flex;
}

.sidebar {
  flex-basis: 12%;
  background-color: blue;
}

.main-text-editor {
  flex-basis: 88%;
  margin: 0;
}

.component-actions {
  display: flex;
  justify-content: space-between;
}
