@import "./colors.less";

@standardBlack: 1px solid @inkblack;
@heavyBlack: 2px solid @inkblack;
@heavyPurpleBorder: 2px solid @purpleDark;
@heavyYellowBorder: 3px solid @yellow;
@standardGrey: 1px solid @grey;

@standardRadius: 5px;
