@inkblack: #1d2731;
@green: #61af6f;
@blueLight: #d5e3ea;
@blue: #c2dfeb;
@blueDark: #a0b8c2;
@purpleLight: #cec4d6;
@purpleDark: #ac99a8;
@purple4: #958090;
@grey: #8e959d;
@white: #f9f8f5;
@red: #ff6961;
@yellow: #e7ef74;

@transparentBlack: #00000066;
