@heavyBold: 900;
@mainFamily: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

//text decoration
@clean: none;

@secondaryColor: rgb(117, 117, 129);
