@media screen and (min-width: 1271px) and (max-width: 1470px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  select,
  input,
  table,
  div,
  .navbar-container,
  .logo,
  .nav-link,
  .active-link {
  }

  button,
  select {
    padding: 12px;
    font-size: 12px;
  }

  input {
    padding: 12px;
    font-size: 12px;
  }

  td,
  div {
    font-size: 12px;
  }

  h3 {
    font-size: 14px;
  }
}

@media screen and (min-width: 1075px) and (max-width: 1270px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  select,
  input,
  table,
  div,
  .navbar-container,
  .logo,
  .nav-link,
  .active-link {
    color: red;
  }

  button {
    padding: 10px;
    font-size: 10px;
  }

  input {
    padding: 10px;
    font-size: 10px;
  }

  td,
  div {
    font-size: 10px;
  }

  h3 {
    font-size: 16px;
  }

  select {
    padding: 10px;
    font-size: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1074px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  select,
  input,
  table,
  div,
  .navbar-container,
  .logo,
  .nav-link,
  .active-link {
    color: blue;
  }

  button {
    padding: 8px;
    font-size: 8px;
  }

  select {
    padding: 8px;
    font-size: 8px;
  }

  input {
    padding: 8px;
    font-size: 8px;
  }

  td,
  div {
    font-size: 8px;
  }

  h3 {
    font-size: 12px;
  }
}
