.main-container {
  display: flex;
}

.sidebar {
  flex-basis: 12%;
  background-color: #a5b4d4;
  border-right: solid 5px #936f8b;
}

.main-doc-creator {
  flex-basis: 88%;
  border-left: solid 2px #1d2731;
}

.document {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  min-height: 500px;
  background-color: white;
  border: 2px solid #1d2731;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.doc-actions {
  background-color: #acd7e6;
  min-height: 30px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-top: 2px solid #1d2731;
  border-bottom: 2px solid #1d2731;
}

.doc-creator-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}

.document-container {
  background-color: #8e959d;
}
.component-manager {
  flex-basis: 20%;
  border-left: solid 2px #1d2731;
}

.doc-container-overview {
  display: flex;
}

.document-item {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  word-break: break-all;
  margin: 4px;
  padding-left: 4px;
  padding-right: 4px;
  align-items: center;
  background-color: #acd7e6;
  border-radius: 5px;
  border: 1px solid #1d2731;
}
