.main {
  display: flex;
  justify-content: space-around;
}

.one,
.two {
  flex-basis: 48%;
  border: solid black 5px;
  padding: 10px;
}

.doc-component:hover {
  background-color: blanchedalmond;
}
