.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.doc-component:hover {
  background-color: blanchedalmond;
}

.show-component-container {
  display: flex;
}

.show-content {
  flex-basis: 80%;
}

.show-name {
  flex-basis: 20%;
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
}

/* Navigation */

.navbar-container {
  display: flex;
  padding: 9px;
  background-color: #1d2731;
  color: white;
}

.nav-link {
  color: white;
  padding: 9px;
  font-weight: 900;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  padding: 4px;
  color: #bc92b3;
  font-weight: 900;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  letter-spacing: 4px;
  width: 9%;
  margin-left: 3%;
}

/* Home Header */

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 2px solid black;
}

.home-header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 2px solid black;
}

.home-header3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 2px solid black;
}
.home-header4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-bottom: 2px solid black;
}

button,
input {
  border-radius: 5px;
}

h1,
h2,
h3,
p,
div,
input,
button,
span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text-box {
  font-family: "Times New Roman", Times, serif;
}
